@media (max-width: 768px) {

  /*****Top Container****/
  .container-fluid {
    height: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding-left: 70px;
    line-height: 1.5rem;
    padding-top: 22px;
  }

  .fa-facebook-square {
    visibility: hidden;
  }

  /********NAV BAR********/
  .navbar-collapse.collapse.show {
    position: absolute;
    z-index: 100;
    top: 70px;
    background: white;
    display: block;
    width: 90%;
  }

  .decor-content {
    font-size: 2rem;
    padding-top: 35px;
  }

  .content-section-decor {
    height: 100px;
  }
  .date{
    visibility: hidden;
  }
  .col-lg-6{
    padding-bottom: 15px;
  }
  .col-8 {
    height:1152px;
  }
  .col-details {
    height:1150px;
  }
  .row-details {
    height:990px
  }
  .button-details-map-end {
    width:100%;
    background-color: #121f4d;
    border-color: #121f4d;
    margin-top: 20px;
  }
  .text {
    width:100%;
  }
  .input-details {
    width:100%;
  }
}

@media (min-width: 1025px){
  .col-details{
  width:50%;  }
}


@media (min-width: 992px) {
  .text {
    width:100%;
    margin-bottom: 40px;
  }
  .input-details {
    width:100%;
  }
  .button-details-map-end {
      padding:15px 0 15px 0;
      width:30%;
      background-color:#12144d;
      border-color:#121f4d;
}
